<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script>
            $('.collapse').collapse()
        </script>
    </head>
    <body>
        <div style="margin-left:50px;">
            <h1>WORD COUNT</h1>

            <!-- <a herf="{% url 'about' %}">ABOUT</a> -->
            <!-- about 내용을 collapse를 사용해서 보여줌 -->
            <a class="btn btn-primary" data-toggle="collapse" href="#about" role="button" aria-expanded="false" aria-controls="about">
                ABOUT </a>
            <div class="collapse" id="about">
                <div class="card card-body">
                    <p>멋쟁이 사자처럼 7기 문예지가 만든 작품입니다</p>
                    <p>단어를 세줍니다.</p>
                </div>
            </div>

            <br><br>

            <form action="{% url 'count' %}">
                <textarea cols="40" rows="10" name="fulltext"></textarea>
                <br>
                <input type="submit" value="Count!" />
            </form>
        </div>
    </body>
</html>